:root {
    --dark-background: #1f2937;
    --on-dark-text: #f9faf8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header-logo {
    font-size: 24px;
    color: var(--on-dark-text);
    width: 400px;
}

.header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-background);
}



#nav {
    width: 400px;
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: end;
    font-size: 18px;
    color: var(--on-dark-text);
}

button {
    background-color: #3882f6;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: var(--on-dark-text);
    margin-top: 5px;
}


.awesome {
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: var(--dark-background);
    padding-top: 80px;
    gap: 20px;
}

#awesome-left-text {
    width: 400px;
    height: 60%;
    color: #e5e7eb;
    font-size: 18px;
}


#awesome-left-text h1 {
    font-size: 48px;
    color: var(--on-dark-text);
    font-weight: bolder;
}

#awesome-right-image {
    width: 400px;
    height: 60%;
    background-color: #6b6969;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}
.container {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.container h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.squares-container{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.square-container {
    min-height: 150px;
    width: 150px;
    text-align: center;
}

.square {
    height: 150px;
    width: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.grey-part {
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 700px;
    display: flex;
    flex-direction: column;
    color: #1f2937;

}

.quote-text p {
    font-weight: lighter;
    font-size: 30px;
}

.quote-author {
    margin-left: auto;
    font-size: 18px;
    font-weight: bolder;
}

.last-part {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 150px;
    color: var(--on-dark-text);
    border-radius: 10px;
}

#last-btn {
    border: 1px solid white;
}